
<div class="nutrition-recipe-card " style="background-image: url('{{config.backgroundImage}}');" >

    <div class="nutrition-recipe-card__front" @changeSide *ngIf="isFront">

        <div class="nutrition-recipe-card__front--header">
                <span class="nutrition-recipe-card__front--header__icon" (click)="refreshClick()"><img class="icon" src="../../../../assets/icons/refresh.svg" alt="icon refresh"></span>
        </div>

        <div class="nutrition-recipe-card__front__footer">
            <div class="nutrition-recipe-card__front__footer__content">
             
                <h3 class="nutrition-recipe-card__front__footer__content__title">{{config.frontTitle}}</h3>
                <div class="nutrition-recipe-card__front__footer__content__sub-info">
                    <span class="nutrition-recipe-card__front__footer__content__{{difficultyTemplate.class}}">{{difficultyTemplate.text}}</span>
                    <span class="nutrition-recipe-card__front__footer__content__sub-info__time"> {{config.duration}} min.</span>
                </div>
               

            </div>
            <div class="nutrition-recipe-card__front__footer__icons-container">
                <span class="nutrition-recipe-card__front__footer__icons-container__icon " *ngIf="config.isFavorite && !config.isRecipes" (click)="toggleFavorite()"><img class="icon" src="../../../../assets/icons/on.svg" alt="like button"></span>
                <span class="nutrition-recipe-card__front__footer__icons-container__icon " *ngIf="!config.isFavorite && !config.isRecipes" (click)="toggleFavorite()"><img class="icon" src="../../../../assets/icons/off.svg" alt="unlike button"></span>
                <span class="nutrition-recipe-card__front__footer__icons-container__icon " (click)="changeSide()"  *ngIf="!config.isRecipes"><img class="icon" src="../../../../assets/icons/Flip.svg" alt="flip button"></span>
            </div>    
        </div>
    </div>
  
    <div class="nutrition-recipe-card__back" @changeSide *ngIf="!isFront">
        <div class="nutrition-recipe-card__back__main">
            <p class="nutrition-recipe-card__back__main__title"> {{config.backTitle}}</p>
            <div class="nutrition-recipe-card__back__main__content" *ngFor="let item of config.backInfo  ">
                <p class="nutrition-recipe-card__back__main__content__title" >
                    {{item.title}}
                </p>
                <span class="nutrition-recipe-card__back__main__content__subtitle">
                    {{ item.aliments.join(', ') }}
                </span>
            </div>
        </div>
        <div class="nutrition-recipe-card__back__side">
                <span class="nutrition-recipe-card__back__side__icons-container" (click)="changeSide()">
                <img src="../../../../assets/icons/arrow.svg" alt="change side button">
                </span>
        </div>
    </div>
</div> 


