.nutrition-recipe-card {
    width: 328px;
    height: 192px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    font-family: 'Metropolis', sans-serif;
    box-shadow: 0px 0px 16px 0px #00000026;
    transition: all 0.3s ease-in-out;


    &__front {
        position: relative;
        height: 100%;
        width: 328px;
        height: 192px;
        color: white;
        display: flex;
        flex-direction: column;
       

        &::before {
            content: "";
            position: absolute;
            width: 328px;
            height: 192px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 8px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.441667) 45.31%, rgba(0, 0, 0, 0.8) 73.96%);
        }
        &--header {
            position: relative;
             padding: 12px;
            z-index: 2;
            color: rgb(191, 10, 10);
           
            &__referesh-container {

                display: flex;
                justify-content: end;
                padding-right: 10px;

                &__icon {
                    width:32px ;
                    height: 32px;
                    display:flex ;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 49px;
                    padding: 2px;
                    background: transparent;
                    background-color: #00000080;
                }
            }
        }

        &__footer {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: end;
            position: relative;
            padding: 12px;
           z-index: 2;

            &__content {
                width: 216px;
                height: 68px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                &__title {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 26px;
                    margin: 0;
                    padding: 0;
                }
                &__sub-info{  
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap:8px;
                }

                &__difficulty--easy, &__difficulty--medium, &__difficulty--hard {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 18px;
                }
            
                &__difficulty--easy {
                    color: #6fdc8c;
            
                }
                &__difficulty--medium {
                    color: #F1AD71;
                }
                &__difficulty--hard {
                    color: #DB3907;
                }
            }

            &__icons-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                &__icon {
                    width:32px ;
                    height: 32px;
                    display:flex ;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 49px;
                    padding: 2px;
                    background: transparent;
                    background-color: #00000080;

                    .flip-icon{
                        cursor: pointer;
                        border: 1px solid;
                    }
                }

            }
        }


    }

    &__back {
        width: 328px;
        height: 192px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        padding:10px ;
       
        &::before {
            content: "";
            position: absolute;
            width: 328px;
            height: 192px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #00000099;

            border-radius: 8px;
            
          
        }

        &__main{
          
            width: 248px;
            height: 168px;
            overflow: hidden;
            text-align: left;
            position: relative;
            z-index: 2;
         
        
            &__title{
              padding: 0;
              margin: 0;
              width: 154px;
              height: 20px;


            }

            &__content{
                width: 100%;
                height: 46px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 2px ;
         
                &__title{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    margin: 0;
                    padding: 0;

                }
                &__subtitle{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                }

            }
        }
        &__side{
            position: relative;
            z-index: 2;
            width: 56px;
            height: 168px;
            display: flex;
            justify-content: center ;
            align-items: flex-end;
            padding-right: 10px;

            &__icons-container{
                width:32px ;
                    height: 32px;
                    display:flex ;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 49px;
                    padding: 2px;
                    background: transparent;
                    background-color: #00000080;
               
            }


        }

    }

    span img{
        cursor: pointer;
    }
   

}

