.nutrition-week-meals{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 16px auto;

    @media (width > 350px) {
        max-width: 520px;
    }

    &--title{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin: 0;
    }

    &__meal-options{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin: 16px 0;
    }
}