.nutrition-week-meals{
    align-items: center;
    justify-content: center;
    margin: 16px auto;
    width: 100%;

    @media (width > 350px) {
        max-width: 520px;
    }

    &--title{
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        margin: 0;
    }

    &__meal-options{
        width: 100%;

        @media (width <= 400px) {  
            &--desktop{
                display: none;
            }

            &--swiper{
                gap: 8px;
                margin: 16px 0;
            }
        }

        @media (width > 400px) {
            &--desktop{
                align-items: center;
                display: flex;
                gap: 8px;
                justify-content: space-between;
                margin: 16px 0;
            }
            
            &--swiper{
                display: none;
            }
        }
    }

    &__meals{
        margin: 16px 0;

        &--title{
            color: rgba(78, 83, 87, 1);
            font-size: 18px;
            font-weight: 600;
            height: 24px;
            line-height: 24px;
            margin: 0px 0px 8px 0px;
            text-align: start;
        }
    }

}