<div class="nutrition-week-meals">
    <p class="nutrition-week-meals--title">{{spanishDays[day.getDay()]}} {{day.getDate()}} {{spanishMonths[day.getMonth()]}}</p>
    <div class="nutrition-week-meals__meal-options">
        <div class="nutrition-week-meals__meal-options--desktop">
            <button *ngFor="let button of mealsButtons" (click)="handleMealClick(button)">{{button}}</button>
        </div>
        <swiper-container class="nutrition-week-meals__meal-options--swiper" slides-per-view="3">
            <swiper-slide *ngFor="let button of mealsButtons">
                <button (click)="handleMealClick(button)">{{button}}</button>
            </swiper-slide>
        </swiper-container>
    </div>
    <div *ngIf="mealTime === 'Comida'; else noMealsTemplate">
        <div class="nutrition-week-meals__meals">
            <p class="nutrition-week-meals__meals--title">Plato principal</p>
            <app-nutrition-recipe-card-wiew [recipe]="recipes[0]" [mealTime]="mealTime"></app-nutrition-recipe-card-wiew>
        </div>
        <div class="nutrition-week-meals__meals">
            <p class="nutrition-week-meals__meals--title">Segundo plato</p>
            <app-nutrition-recipe-card-wiew [recipe]="recipes[1]" [mealTime]="mealTime"></app-nutrition-recipe-card-wiew>
        </div>
        <div class="nutrition-week-meals__meals">
            <p class="nutrition-week-meals__meals--title">Postre</p>
            <app-nutrition-recipe-card-wiew [recipe]="recipes[2]" [mealTime]="mealTime"></app-nutrition-recipe-card-wiew>
        </div>
    </div>
    <ng-template #noMealsTemplate>
        <div *ngFor="let recipe of recipes" class="nutrition-week-meals__meals">
            <app-nutrition-recipe-card-wiew [recipe]="recipe" [mealTime]="mealTime"></app-nutrition-recipe-card-wiew>
        </div>
    </ng-template>
</div>