.recipes-page-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;

    @media (max-width: 600px) {
        align-items: normal;
    }

    &__content-container {
        margin-top: 1rem;
        max-width: 1000px;
        overflow: hidden;
        width: 50%;
        transition: width 0.5s ease; 

        @media (max-width: 1100px) {
            width: 80%;
        }
        
        @media (max-width: 600px) {
            width: 100%;
        }

        &__recipe-container {
            width: 100%;

            &__recipes-desktop-container {
                display: flex;
                gap: 16px;
                margin-bottom: 2rem;

                &--slide{
                    margin-right: 16px;
                }
            }

            &--p {
                font-size: 22px;
                font-weight: bold;
                margin: 5px 2px;
            }
        }
    }

    &__search-container {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        width: 50%;
        transition: width 0.5s ease; 
        @media (max-width: 1100px) {
            width: 80%;
        }
        @media (max-width: 600px) {
            width: 100%;
        }

        &__input-container {
            align-items: center;
            border: 1px solid #DDE1E6;
            border-radius: 5px;
            display: flex;
            gap: 0.5rem;
            margin-right: 1.5rem;
            padding: 4px 12px;
            width: 100%;
            

            &--input {
                border: none;
                height: 22px;
                outline: none;
                width: 100%;
            }
        }
    }
}



