<div class="recipes-page-main">
    <div class="recipes-page-main__search-container">
        <div class="recipes-page-main__search-container__input-container">
            <img src="../../../../../assets/icons/search/lens.svg" alt="">
            <input class="recipes-page-main__search-container__input-container--input" [formControl]="searchCoursesControl" placeholder="Search..." type="text">
        </div>
        <img src="../../../../../assets/icons/search/burguer.svg" alt="">
    </div>

    <div class="recipes-page-main__content-container">
        <div *ngIf="breakfastRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Desayuno</p>
            <ng-container *ngIf="isScreenSmall; else breakfastSmallScreenView">
                <app-nutrition-recipe-view [recipes]="breakfastRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template  #breakfastSmallScreenView>
                <div class="recipes-desktop-container">
                    <app-nutrition-recipe-card-wiew *ngFor="let recipe of breakfastRecipes" [recipe]="recipe" [mealTime]="'Desayuno'"></app-nutrition-recipe-card-wiew>
                </div>
            </ng-template>
        </div>

        <div *ngIf="snackRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Almuerzo</p>
            <ng-container *ngIf="isScreenSmall; else snackSmallScreenView">
                <app-nutrition-recipe-view [recipes]="snackRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template #snackSmallScreenView>
                <div class="recipes-desktop-container">
                    <app-nutrition-recipe-card-wiew *ngFor="let recipe of snackRecipes" [recipe]="recipe" [mealTime]="'Desayuno'"></app-nutrition-recipe-card-wiew>
                </div>
            </ng-template>
        </div>

        <div *ngIf="lunchRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Comida</p>
            <ng-container *ngIf="isScreenSmall; else lunchSmallScreenView">
                <app-nutrition-recipe-view [recipes]="lunchRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template #lunchSmallScreenView>
                <div class="recipes-desktop-container">
                    <app-nutrition-recipe-card-wiew *ngFor="let recipe of lunchRecipes" [recipe]="recipe" [mealTime]="'Desayuno'"></app-nutrition-recipe-card-wiew>
                </div>
            </ng-template>
        </div>

        <div *ngIf="dinnerRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Cena</p>
            <ng-container *ngIf="isScreenSmall; else dinnerSmallScreenView">
                <app-nutrition-recipe-view [recipes]="dinnerRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template #dinnerSmallScreenView>
                <div class="recipes-desktop-container">
                    <app-nutrition-recipe-card-wiew *ngFor="let recipe of dinnerRecipes" [recipe]="recipe" [mealTime]="'Desayuno'"></app-nutrition-recipe-card-wiew>
                </div>
            </ng-template>
        </div>
    </div>
</div>



