<div class="recipes-page-main">
    <div class="recipes-page-main__search-container">
        <div class="recipes-page-main__search-container__input-container">
            <img src="../../../../../assets/icons/search/lens.svg" alt="">
            <input class="recipes-page-main__search-container__input-container--input" [formControl]="searchCoursesControl" placeholder="Search..." type="text">
        </div>
        <img src="../../../../../assets/icons/search/burguer.svg" alt="">
    </div>

    <div class="recipes-page-main__content-container">
        <div *ngIf="breakfastRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Desayuno</p>
            <app-nutrition-recipe-view *ngIf="!isScreenSmall" [recipes]="breakfastRecipes"></app-nutrition-recipe-view>
            <app-nutrition-recipe-card-wiew [recipes]="breakfastRecipes" [mealTime]="'Desayuno'"></app-nutrition-recipe-card-wiew>

        </div>

        <div *ngIf="snackRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Almuerzo</p>
            <ng-container *ngIf="isScreenSmall; else snackSmallScreenView">
                <app-nutrition-recipe-view [recipes]="snackRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template #snackSmallScreenView>
                <app-nutrition-recipe-card-wiew [recipes]="snackRecipes" [mealTime]="'Almuerzo'"></app-nutrition-recipe-card-wiew>
            </ng-template>
        </div>

        <div *ngIf="lunchRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Comida</p>
            <ng-container *ngIf="isScreenSmall; else lunchSmallScreenView">
                <app-nutrition-recipe-view [recipes]="lunchRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template #lunchSmallScreenView>
                <app-nutrition-recipe-card-wiew [recipes]="lunchRecipes" [mealTime]="'Comida'"></app-nutrition-recipe-card-wiew>
            </ng-template>
        </div>

        <div *ngIf="dinnerRecipes?.length != 0" class="recipes-page-main__content-container__recipe-container">
            <p class="recipes-page-main__content-container__recipe-container--p">Cena</p>
            <ng-container *ngIf="isScreenSmall; else dinnerSmallScreenView">
                <app-nutrition-recipe-view [recipes]="dinnerRecipes"></app-nutrition-recipe-view>
            </ng-container>
            <ng-template #dinnerSmallScreenView>
                <app-nutrition-recipe-card-wiew [recipes]="dinnerRecipes" [mealTime]="'Cena'"></app-nutrition-recipe-card-wiew>
            </ng-template>
        </div>
    </div>
</div>



