<div class="question-survey-container">
    <p class="question-survey-container--question">{{ question }}</p>
    <div class="question-survey-container__answers-main">
        <div class="question-survey-container__answers-main__answer-container">
            <button class="question-survey-container__answers-main__answer-container--button" (click)="toggleAzul(0)">
                <img [src]="answerTemplate[0].icon" alt="" [class.question-survey-container__answers-main__answer-container--button--img-active]="imgBlueIndex === 0" />
            </button>
            <span class="question-survey-container__answers-main__answer-container--span">{{answerTemplate[0].value}}</span>
        </div>
        <div class="question-survey-container__answers-main__answer-container">
            <button class="question-survey-container__answers-main__answer-container--button" (click)="toggleAzul(1)">
                <img [src]="answerTemplate[1].icon" alt="" [class.question-survey-container__answers-main__answer-container--button--img-active]="imgBlueIndex === 1" />
            </button>
            <span class="question-survey-container__answers-main__answer-container--span">{{answerTemplate[1].value}}</span>
        </div>
        <div class="question-survey-container__answers-main__answer-container">
            <button class="question-survey-container__answers-main__answer-container--button" (click)="toggleAzul(2)">
                <img [src]="answerTemplate[2].icon" alt="" [class.question-survey-container__answers-main__answer-container--button--img-active]="imgBlueIndex === 2" />
            </button>
            <span class="question-survey-container__answers-main__answer-container--span">{{answerTemplate[2].value}}</span>
        </div>
    </div>
</div>



