.question-survey-container {
  &--question {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: justify;
  }
  &__answers-main {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    &__answer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      &--button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        &--img-active{
            filter: invert(30%) sepia(50%) saturate(2565%) hue-rotate(182deg) brightness(70%) contrast(102%);
        }
      }
      &--span {
        font-size: 12px;
      }
    }
  }
}

