.recipe-card {
  &__background {
    background-size: cover;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
    max-height: 160px;
    max-width: 160px;
    position: relative;
    width: 160px;

    &__content-container {
      z-index: 1;

      &__bottom-content {
        align-items: center;
        display: flex;
        font-size: 12px;
        justify-content: space-between;
        margin: 0 10px;

        &__difficulty--easy {
          color: #6fdc8c;
          font-weight: bold;
        }
        &__difficulty--hard {
          color: #db3907;
          font-weight: bold;
        }
        &__difficulty--medium {
          color: #f1ad71;
          font-weight: bold;
        }

        &__time {
          color: white;
        }
      }

      &__title-container {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;

        &__title {
          color: white;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          margin: 0;
        }
      }
    }

    &__liked-container {
      cursor: pointer;
      display: flex;
      justify-content: end;
      padding: 0.5rem;

      &__like-icon {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.574);
        border-radius: 48px;
        color: white;
        display: flex;
        font-size: 23px;
        justify-content: center;
        padding: 7px;
      }
    }
  }

  &__background::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    border-radius: 0 0 18px 18px;
    bottom: 0;
    content: "";
    height: 80%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
