
<div class="recipe-card">
    <div class="recipe-card__background" [style.background-image]="'url(' + recipe.img + ')'">
        <div class="recipe-card__liked-container">
            <span class="recipe-card__like-icon" *ngIf="!recipe?.liked" (click)="toggleFavorite()"><img src="../../../assets/icons/off.svg" alt=""></span>
            <span class="recipe-card__like-icon" *ngIf="recipe?.liked" (click)="toggleFavorite()"><img src="../../../assets/icons/on.svg" alt=""></span>
        </div>
        <div class="recipe-card__content-container">
            <div class="recipe-card__title-container">
                <h1 class="recipe-card__title">{{recipe.title}}</h1>
            </div>
            <div class="recipe-card__bottom-content">
                <p class="recipe-card__difficulty recipe-card__difficulty--{{difficultyTemplate.class}}">{{difficultyTemplate.text}}</p>
                <span class="recipe-card__time">{{recipe.time}} min.</span>
            </div>
        </div>
    </div>
</div>

