.form-progress-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  min-width: 340px;
  max-width: 400px;

  &__tag {
    &--button {
      background-color: #0079C8;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-weight: bold;
      height: 48px;
      margin-top: 2rem;
      width: 100%;
    }
  }
}

  
